.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.info-box {
    display: flex;
    justify-content: space-evenly;
    width: 606px;
}

#gird {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 606px;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid #000 ;
    cursor: pointer;
}

.mole {
    background: url('./images/mole.png') center center;
    background-size: contain;
}

@media (max-width: 1024px)  {
    .info-box,
    #gird {
        width: 100%;
    }
    .square {
        width: 18em;
        height: 18em;
    }
}